{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
{% block content %}
{% if user.is_authenticated %}
  <meta http-equiv="refresh" content="0; url={% url 'home' %}">
{% else %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card login-card">
        <div class="row">
          <div class="col-md-4 bg-primary text-light">
            <div class="p-5">
              <h3><br>Pipeline Services</h3>
              <p>Build and Join <br>with Us</p>
              <img src="https://i.ibb.co.com/8r0zYTf/user-3237472.png" alt="Logo" class="img-fluid mt-4">
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title text-center mb-4">Log In Account</h3>
              <p>Welcome! Please login to your account</p>
              <form method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
                </div>
                <div>
                  <p>Do not have an account yet? Please <a href="{% url 'signup' %}">register</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
</body>
</html>
