body {
  background-color: #fefeff;
}

.jumbotron {
  background-color: #0A4D68;
}

.bg-primary {
  background-color: #007bff !important; /* Ganti warna latar belakang sesuai keinginan */
  color: #fff; /* Warna teks menjadi putih */
}

.login-card {
  border-radius: 10px; /* Membuat sudut kartu login menjadi lebih lembut */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan lembut */
}

.login-card img {
  max-width: 100%; /* Membuat gambar login responsive */
}

.login-card .card-body {
  padding: 30px; /* Memberikan ruang di dalam kartu login */
}

.login-card .card-title {
  margin-bottom: 20px; /* Mengatur jarak antara judul dengan konten lainnya */
}

.status-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 30%; /* Menggunakan max-width agar fleksibel */
}

.status-success {
  background-color: #114232;
}

.status-failed {
  background-color: #d63340;
}

.status-running {
  background-color: #4475ef;
}

.progress-animation {
  animation: progress-animation 90s linear infinite;
  animation-iteration-count: 1;
}

@keyframes progress-animation {
  0% { width: 0%; }
  100% { width: 100%; }
}

table {
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
}

/* Gaya untuk job-container */
.job-container {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Gaya untuk status-box */
.status-box {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
}

/* Gaya untuk duration-box */
.duration-box {
  background-color: #333A73;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
}

/* Gaya untuk stage-box */
.stage-box {
  background-color: #FBA834;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto; /* Dua kolom dengan lebar yang menyesuaikan konten */
  grid-column-gap: 20px; /* Jarak antara kolom */
  align-items: center; /* Pusatkan vertikal */
}

.image-container {
  max-width: 50%; /* Maksimum lebar gambar */
  height: auto; /* Tinggi otomatis untuk mempertahankan rasio aspek gambar */
}

.description-container {
  max-width: 100%; /* Maksimum lebar deskripsi */
}

/* Reset basic styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Footer styles */
footer {
  background-color: #f2f2f2;
  padding: 30px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  width: 100%;
}

.col-md-3 {
  width: 25%;
  flex: 0 0 25%;
  padding: 0 10px;
}

.footer-logo {
  margin-bottom: 15px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-menu,
.footer-newsletter,
.footer-social {
  margin-bottom: 20px;
}

.footer-menu h3,
.footer-newsletter h3,
.footer-social h3 {
  margin-bottom: 10px;
}

.footer-menu ul,
.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu li,
.footer-social li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
}

.footer-menu a,
.footer-social a {
  color: #333;
  text-decoration: none;
}

.footer-menu a:hover,
.footer-social a:hover {
  color: #000;
}

.footer-social i {
  font-size: 20px;
  margin-right: 10px;
}

.footer-newsletter form {
  display: flex;
}

.footer-newsletter input[type="email"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.footer-newsletter button[type="submit"] {
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.footer-copyright {
  text-align: center;
  color: #aaa;
}