<!-- {% extends 'base.html' %}

{% block content %}

    <style>
        .status-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            float: left;
            width: 20%; 
        }
        .status-success {
            background-color: #d4edda;
        }
        .status-failed {
            background-color: #d9534f;
        }
        .status-running {
            background-color: #cce5ff;
        }
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>

    <h1>API Data</h1>
    
    <div class="clearfix">
        {% if pipeline_data %}
            {% with latest_pipeline=pipeline_data.0 %}
                <div class="status-box {% if latest_pipeline.status == 'success' %}status-success{% elif latest_pipeline.status == 'failed' %}status-failed{% else %}status-running{% endif %}">
                    <h5>Status : {{ latest_pipeline.status }}</h5>
                </div>

                <br>
                <br>
                <br>

                <div>
                    <p>ID : {{ latest_pipeline.id }} and Project ID : {{ latest_pipeline.project_id }}</p>
                </div>

                <div>
                    <p>SHA: {{ latest_pipeline.sha }}</p>
                </div>

                <div>
                    <p>Ref: {{ latest_pipeline.ref }}</p>
                </div>

                <div>
                    <p>Source: {{ latest_pipeline.source }}</p>
                </div>

                <div>
                    <p>Created At: {{ latest_pipeline.created_at }}</p>
                </div>

                <div>
                    <p>Updated At: {{ latest_pipeline.updated_at }}</p>
                </div> -->

                <!-- <div>
                    <p>Web URL: <a href="{{ latest_pipeline.web_url }}">{{ latest_pipeline.web_url }}</a></p>
                </div> -->

            <!-- {% endwith %}
        {% else %}
            <p>No pipeline data available.</p>
        {% endif %}
    </div>
{% endblock %} -->




<!-- {% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitoring Data Pipeline</title>
    <style>
        .status-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            float: left;
            width: 20%;
        }
        .status-success {
            background-color: #17ad3a;
        }
        .status-failed {
            background-color: #d63340;
        }
        .status-running {
            background-color: #4475ef;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Monitoring Proses Blue Green Deployment</h1>
    
    <div style="display: flex; justify-content: center; margin: 10px;">
        <div class="status-box {% if pipeline_data.status == 'success' %}status-success{% elif pipeline_data.status == 'failed' %}status-failed{% else %}status-running{% endif %}">
            <h5 style="color: #ffffff; font-weight: bold; margin: 0;" class="progress-bar progress-bar-striped" role="progressbar">Status: {{ pipeline_data.status }}</h5>
        </div>
        <div style="background-color: #4475ef; padding: 10px; text-align: center; margin-left: 10px; margin-bottom: 10px">
            <h5 style="color: #ffffff; font-weight: bold; margin: 0;" class="progress-bar progress-bar-striped" role="progressbar">Duration: {{ pipeline_data.duration }} seconds</h5>
        </div>
    </div>

    <p>Stage: {{ pipeline_data.stage}}</p>
    <p>Developer : {{ pipeline_data.user.name }} ({{ pipeline_data.user.state }})</p>
    <p>Message : {{ pipeline_data.commit.message }}</p>
    <p>ID : {{ pipeline_data.id }} , Project ID : {{ pipeline_data.project_id }}</p>
    <p>Created At: {{ pipeline_data.created_at }}</p>
    <p>Started At: {{ pipeline_data.started_at }}</p>
    <p>Finished At: {{ pipeline_data.finished_at }}</p>
    <p>Duration: {{ pipeline_data.duration }} seconds</p>
    <p>Reference : {{ pipeline_data.ref }} , Source : {{ pipeline_data.source }}</p>
</body>
</html>
{% endblock %} -->


{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitoring Data Pipeline</title>
    <style>
        .status-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            width: 30%;
        }
        .status-success {
            background-color: #114232;
        }
        .status-failed {
            background-color: #d63340;
        }
        .status-running {
            background-color: #4475ef;
        }
        
        .progress-animation {
            animation: progress-animation 2s linear infinite;
        }
    
        @keyframes progress-animation {
        0% { width: 0%; }
        2% { width: 2%; }
        4% { width: 4%; }
        6% { width: 6%; }
        8% { width: 8%; }
        10% { width: 10%; }
        12% { width: 12%; }
        14% { width: 14%; }
        16% { width: 16%; }
        18% { width: 18%; }
        20% { width: 20%; }
        22% { width: 22%; }
        24% { width: 24%; }
        26% { width: 26%; }
        28% { width: 28%; }
        30% { width: 30%; }
        32% { width: 32%; }
        34% { width: 34%; }
        36% { width: 36%; }
        38% { width: 38%; }
        40% { width: 40%; }
        42% { width: 42%; }
        44% { width: 44%; }
        46% { width: 46%; }
        48% { width: 48%; }
        50% { width: 50%; }
        52% { width: 52%; }
        54% { width: 54%; }
        56% { width: 56%; }
        58% { width: 58%; }
        60% { width: 60%; }
        62% { width: 62%; }
        64% { width: 64%; }
        66% { width: 66%; }
        68% { width: 68%; }
        70% { width: 70%; }
        72% { width: 72%; }
        74% { width: 74%; }
        76% { width: 76%; }
        78% { width: 78%; }
        80% { width: 80%; }
        82% { width: 82%; }
        84% { width: 84%; }
        86% { width: 86%; }
        88% { width: 88%; }
        90% { width: 90%; }
        92% { width: 92%; }
        94% { width: 94%; }
        96% { width: 96%; }
        98% { width: 98%; }
        100% { width: 100%; }
    }
    </style>
    
</head><body>
    <h1 style="text-align: center;">Monitoring Proses Pipeline Menggunakan Strategi Blue Green Deployment</h1>

    {% for job in pipeline_data|dictsort:'created_at'|slice:'-2:' %}
        <div style="display: flex; justify-content: center; margin: 10px;">
            <div class="status-box {% if job.status == 'success' %}status-success{% elif job.status == 'failed' %}status-failed{% else %}status-running{% endif %}">
                <h5 style="color: #ffffff; font-weight: bold; margin: 0;" class="progress-bar progress-bar-striped" role="progressbar">Status : {{ job.status }}</h5>
            </div>
            <div style="background-color: #333A73; padding: 10px; text-align: center; margin-left: 10px; margin-bottom: 10px">
                <h5 style="color: #ffffff; font-weight: bold; margin: 0;" class="progress-bar progress-bar-striped" role="progressbar">Duration : {{ job.duration }} seconds</h5>
            </div>
        </div>

        <div style="background-color: #FBA834; padding: 10px; text-align: center; margin-left: 0px; margin-bottom: 10px">
            <p style="color: #ffffff; font-weight: bold; margin: 0;" class="progress-bar progress-bar-striped" role="progressbar">Stage : {{ job.stage }}</p>
        </div>

        <div class="progress" style="height: 30px;">
            <div class="progress-bar progress-bar-striped bg-success progress-animation" role="progressbar" style="width: 100%;">
            </div>
        </div>
        

        <p>Developer : {{ job.user.name }} ({{ job.user.state }})</p>
        <p>Message : {{ job.commit.message }}</p>
        <p>ID : {{ job.id }} , Project ID : {{ job.pipeline.project_id }}</p>
        <p>Created At: {{ job.created_at }}</p>
        <p>Started At: {{ job.started_at }}</p>
        <p>Finished At: {{ job.finished_at }}</p>
        <p>Duration: {{ job.duration }} seconds</p>
        <p>Reference : {{ job.ref }} , Source : {{ job.pipeline.source }}</p>
    {% endfor %}

</body>


</html>
{% endblock %}

