{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .grid-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
    }

    .image-container {
        flex: 1;
        text-align: center; /* Pusatkan gambar secara horizontal */
    }

    .description-container {
        flex: 1;
        padding-left: 20px; /* Jarak antara gambar dan teks */
        background-color: #ffffff;
    }

    .description-container p {
        text-align: justify; /* Ratakan teks */
    }

    @media (max-width: 768px) {
        .image-container,
        .description-container {
            width: 100%;
            text-align: center; /* Pusatkan konten di tengah pada layar yang lebih kecil */
            padding-left: 0; /* Hapus padding di sisi kiri pada layar yang lebih kecil */
        }
    }

    .carousel-item img {
        max-height: 400px; /* Sesuaikan tinggi maksimal gambar */
        width: 100%;
        object-fit: contain; /* Memastikan gambar tetap rapi dalam kotak tanpa dipotong */
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        padding: 10px;
    }

    .carousel-container {
        margin-top: 20px;
        margin-bottom: 10px;
    }
</style>

<div class="container" style="text-align: justify;">
    <h2 style="text-align: center; margin: 0 auto;">Blue-Green Deployment on Multiple Servers with the <br> Use of HAProxy as Load Balancer</h2>
    <br>
    <div style="text-align: center; margin: 0 auto;">
        <iframe width="710" height="400" src="https://www.youtube.com/embed/AWVTKBUnoIg?autoplay=1" frameborder="0" allowfullscreen></iframe>
        <p><strong><i>Source :</i></strong> <a href="https://www.youtube.com/watch?v=AWVTKBUnoIg" target="_blank">https://www.youtube.com/watch?v=AWVTKBUnoIg</a></p>
    </div>
    <p>
        <strong>Blue-Green deployment</strong> adalah metode implementasi perangkat lunak yang memungkinkan pengembang untuk secara mulus memperbarui atau mengganti 
        versi perangkat lunak yang sedang berjalan tanpa menyebabkan downtime atau gangguan pada pengguna. Dalam pendekatan ini, dua lingkungan operasional, 
        yaitu lingkungan "blue" (yang sedang berjalan) dan lingkungan "green" (baru), dipersiapkan. Dalam scenario ini dibutuhkan 2 server yang identik dimana 
        server-a sebagai server utama dan server-b sebagai server cadangan. Ketika server-a sudah berhasil dilakukan update deployment maka akan otomatis 
        secara bertahap melakukan update deployment ke server-b. Keuntungan utama dari Blue-Green deployment meliputi nol downtime, kemampuan rollback yang 
        mudah, pengujian menyeluruh, dan kontrol yang lebih baik dalam manajemen perubahan perangkat lunak.
    </p>
 
    <h3 style="text-align: center; margin: 20px auto;">Ilustrasi Sistem Implementasi Blue-Green Deployment pada Multiple Server</h3>

    <div class="grid-container">
        <div class="image-container">
            <img src="https://images2.imgbox.com/70/b4/v1mrHFh5_o.jpeg" alt="BD" height="500">
        </div>
        <div class="description-container">
            <p>
                Ilustrasi sistem dari pembuatan metode Blue-Green deployment pada infrastruktur multiple server dengan website sebagai user interface, dimulai 
                dengan client akan melakukan request menuju server namun sebelumnya akan didistribusikan oleh load balancer HAproxy menggunakan algoritma round 
                robin, yang dimana server akan saling terhubung dan berkomunikasi dengan CI/CD pipeline, gitlab repository dan website sebagai user interface.
                Pada tahap awal di Google Cloud Platform (GCP), dibuat dua instance virtual dengan konfigurasi identik dan pengaturan firewall. Load balancing 
                HAproxy diimplementasikan untuk mendistribusikan request ke 2 server, dengan server utama (server-a) dan cadangan (server-b). Saat ada pembaruan 
                pada server-a, request dialihkan ke server cadangan. Antarmuka pengguna dikembangkan menggunakan HTML, CSS, dan Django sebelum deployment. CI/CD 
                pipeline dikonfigurasi dengan Gitlab untuk otomatisasi proses deployment, termasuk metode Blue-Green Deployment dan integrasi dengan 
                Load balancer di GCP.
            </p>
        </div>
    </div>
</div>

{% endblock %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}