{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitoring Data Pipeline</title>
    <style>
        /* Gaya CSS Anda */
        .status-box {
            display: inline-block;
            padding: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            border-radius: 8px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .status-success {
            background-color: #114232;
        }

        .status-failed {
            background-color: #d63340;
        }

        .status-running {
            background-color: #4475ef;
        }

        .progress-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px auto;
        }

        .throbber {
            width: 40px;
            height: 40px;
            border: 4px solid rgba(0, 123, 255, 0.2);
            border-top: 4px solid #007bff;
            border-radius: 50%;
            animation: throbber-spin 1s linear infinite;
        }

        @keyframes throbber-spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        table {
            border-collapse: separate;
            border-spacing: 10px;
            margin: 0 auto; 
        }

        td {
            padding: 6px; /* Menambahkan padding agar konten terlihat lebih teratur */
        }

        tr {
            margin: 6px;
        }
        .statuses {max-width: 50%; margin: 20px;}

    </style>
</head>
<body>
    <div style="position: relative">   
        <h1 style="text-align: center;">CI/CD PIPELINE SERVICES USING BLUE-GREEN DEPLOYMENT</h1>
        <div style="text-align: center;left: 50%;transform: translateX(-50%);position: absolute;margin: 10px; font-size: medium;">
            <button id="start-btn" onclick="showDiv()" class="btn btn-primary" style="display: inline-block; margin-right: 10px;">Start</button>
            <button id="stop-btn" onclick="hideDiv()" class="btn btn-danger" style="display: inline-block;">Stop</button>
        </div>
    </div>
    <div id="pipelinedata" style="width:100%">
    {% for job in pipeline_data|dictsort:'created_at'|slice:'-2:' %}
    
        <div style="width:100%; margin-top:70px; border: 4px solid #000000; border-radius: 8px;">
            <div style="display: flex; justify-content: center;position: relative;margin-top: 20px; border: 4px; border-radius: 8px;">
                <div class="status-box {% if job.status == 'success' %}status-success{% elif job.status == 'failed' %}status-failed{% else %}status-running{% endif %}">
                    <h5 style="color: #ffffff; font-weight: bold; margin: 0;" class="progress-bar jobStatus progress-bar-striped" role="progressbar" data-value="Status: {{ job.status }}"></h5>
                </div>
                <div class="status-boxes" style="display: flex; justify-content: center; margin: 10px; margin-top:50px;">
                    <div class="statuses" style="background-color: #333A73; padding: 10px; text-align: center; margin-left: 10px; margin-bottom: 10px; width: 100%;">
                        <h5 style="color: #ffffff; font-weight: bold; margin: 0;" class="progress-bar durationStatus progress-bar-striped" role="progressbar" data-value="Duration: {{ job.duration|floatformat:2 }} s"></h5>
                    </div>
                    <div class="statuses" style="background-color: #FBA834; padding: 10px; text-align: center; margin-left: 0px; margin-bottom: 10px; width: 100%;">
                        <p style="color: #ffffff; font-weight: bold; margin: 0;" class="progress-bar stageStatus progress-bar-striped" role="progressbar" data-value="Stage: {{ job.stage }}"></p>
                    </div>
                </div>
            </div>

            {% if job.status != 'success' and job.status != 'failed' %}
                <div class="progress-container">
                    <div class="throbber"></div>
                </div>
            {% endif %}

            <table>      
                <tr>
                    <td><strong>Developer   :</strong></td>
                    <td><span class="Name" data-value="{{ job.user.name }}"></span></td>
                    <td><strong>State       :</strong></td>
                    <td><span class="State" data-value="{{ job.user.state }}"></span></td>
                </tr>
                <tr>
                    <td><strong>Message     :</strong></td>
                    <td><span class="Message" data-value="{{ job.commit.message }}"></span></td>
                    <td><strong>Source      :</strong></td>
                    <td><span class="source" data-value="{{ job.pipeline.source }}"></span></td>
                </tr>
                <tr>
                    <td><strong>ID          :</strong></td>
                    <td><span class="jobid" data-value="{{ job.id }}"></span></td>
                    <td><strong>Project ID  :</strong></td>
                    <td><span class="projectid" data-value="{{ job.pipeline.project_id }}"></span></td>
                </tr>
                <tr>
                    <td><strong>Created At  :</strong></td>
                    <td><span class="creatat" data-value="{{ job.created_at }}"></span></td>
                    <td><strong>Started At  :</strong></td>
                    <td><span class="startat" data-value="{{ job.started_at }}"></span></td>
                </tr>
                <tr>
                    <td><strong>Finished At :</strong></td>
                    <td><span class="finishat" data-value="{{ job.finished_at }}"></span></td>
                    <td><strong>Reference   :</strong></td>
                    <td><span class="Refren" data-value="{{ job.ref }}"></span></td>
                </tr>
                <tr>
                </tr>
            </table>
        </div> 
    {% endfor %}
    </div>
    <script>
        // Fungsi untuk mengubah waktu ke zona waktu Indonesia
        function formatTime(time){
            const utcTime = new Date(time);
            const options = { timeZone: 'Asia/Jakarta' };
            return indonesiaTime = utcTime.toLocaleString('en-US', options);
        }

        // Panggil fungsi formatTime untuk setiap elemen yang memerlukan pemformatan
        // document.addEventListener("DOMContentLoaded", function() {
        //     formatTimeElements();
        // });

        function formatTimeElements() {
            var timeElements = document.querySelectorAll('.creatat, .startat, .finishat');
            timeElements.forEach(function(element) {
                var timeValue = element.getAttribute('data-value');
                if (timeValue) {
                    element.innerText = formatTime(timeValue)
                }
            });
        }

        // Fungsi untuk menampilkan semua elemen
        function showDiv() {
            var ids = ['Name', 'State', 'Message', 'Duration', 'jobid', 'projectid','creatat','startat','finishat','durations','Refren','source', 'durationStatus', 'stageStatus', 'jobStatus'];
            ids.forEach(function(className) {
                var elements = document.querySelectorAll('.'+className);
                elements.forEach(function(element) {
                    var jobUserName = element.getAttribute('data-value');
                    if (jobUserName) {
                        element.innerText = jobUserName;
                    }
                });
            });
            // Panggil kembali fungsi formatTime untuk waktu yang sudah diperbarui
            formatTimeElements();
        }

        // Fungsi untuk menyembunyikan semua elemen
        function hideDiv() {
            var ids = ['Name', 'State', 'Message', 'Duration', 'jobid', 'projectid','creatat','startat','finishat','durations','Refren','source', 'durationStatus', 'stageStatus', 'jobStatus'];
            ids.forEach(function(className) {
                var elements = document.querySelectorAll('.' + className);
                elements.forEach(function(element) {
                    element.innerText = 'None';
                });
            });
        }
        hideDiv();
    </script>
</body>
</html>
{% endblock %}
