<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitoring Data Pipeline</title>
    <style>
        .status-box {
            display: inline-block;
            border-radius: 8px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        .status-success {
            background-color: #114232;
        }

        .status-failed {
            background-color: #d63340;
        }

        .status-running {
            background-color: #4475ef;
        }

        /* Animasi putar */
        .spinner {
            width: 40px;
            height: 40px;
            margin: 0 auto;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #3E98C7;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        table {
            border-collapse: separate;
            border-spacing: 10px;
            margin: 0 auto; 
        }

        tr {
            margin: 6px;
        }

        .statuses {max-width: 50%; margin: 20px;}

    </style>
</head>
<body>
    <h1 style="text-align: center;">Monitoring Proses Pipeline Menggunakan Strategi Blue Green Deployment</h1>

    {% for job in pipeline_data|dictsort:'created_at'|slice:'-2:' %}
        <div style="width:100%;align-items: center;position: relative;margin: 20px; border: 4px; border-radius: 8px;">   
            <div class="status-box {% if job.status == 'success' %}status-success{% elif job.status == 'failed' %}status-failed{% else %}status-running{% endif %}">
                <h5 style="color: #ffffff; font-weight: bold; margin: 0;" class="progress-bar progress-bar-striped" role="progressbar">Status : {{ job.status }}</h5>
            </div>
            <div class="status-boxes" style="display: flex; justify-content: center; margin: 10px; margin-top:50px;">
                <div class="statuses" style="background-color: #333A73; padding: 10px; text-align: center; margin-left: 10px; margin-bottom: 10px; width: 100%;">
                    <h5 style="color: #ffffff; font-weight: bold; margin: 0;" class="progress-bar progress-bar-striped" role="progressbar">Duration : {{ job.duration }} seconds</h5>
                </div>
                <div class="statuses" style="background-color: #FBA834; padding: 10px; text-align: center; margin-left: 0px; margin-bottom: 10px; width: 100%;">
                    <p style="color: #ffffff; font-weight: bold; margin: 0;" class="progress-bar progress-bar-striped" role="progressbar">Stage : {{ job.stage }}</p>
                </div>
            </div>

            <!-- Tambahkan elemen spinner di bawah status-box jika status adalah 'running' -->
            {% if job.status == 'running' %}
                <div class="spinner"></div>
            {% endif %}

            <table>      
                <tr>
                    <td><strong>Developer   :</strong></td>
                    <td>{{ job.user.name }}</td>
                    <td><strong>State       :</strong></td>
                    <td>{{ job.user.state }}</td>
                </tr>
                <tr>
                    <td><strong>Message     :</strong></td>
                    <td>{{ job.commit.message }}</td>
                    <td><strong>Duration : </strong></td>
                    <td>{{ job.duration }} seconds</td>
                </tr>
                <tr>
                    <td><strong>ID          :</strong></td>
                    <td>{{ job.id }}</td>
                    <td><strong>Project ID  :</strong></td>
                    <td>{{ job.pipeline.project_id }}</td>
                </tr>
                <tr>
                    <td><strong>Created At  :</strong></td>
                    <td>{{ job.created_at }}</td>
                    <td><strong>Started At  :</strong></td>
                    <td>{{ job.started_at }}</td>
                </tr>
                <tr>
                    <td><strong>Finished At :</strong></td>
                    <td>{{ job.finished_at }}</td>
                    <td><strong>Duration    :</strong></td>
                    <td>{{ job.duration }} seconds</td>
                </tr>
                <tr>
                    <td><strong>Reference   :</strong></td>
                    <td>{{ job.ref }}</td>
                    <td><strong>Source      :</strong></td>
                    <td>{{ job.pipeline.source }}</td>
                </tr>
            </table>
        </div>
    {% endfor %}
</body>
</html>
