{% extends 'base.html' %}

{% block content %}

<style>
  .container {
    margin-top: 50px;
  }

  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .row {
  display: flex; 
  justify-content: center; 
  } 

  .card-header {
    background-color: #222224;
    color: #fff;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    padding: 15px; 
  }

  .card-body {
    padding: 20px;
  }

  .alert {
    margin-bottom: 15px;
  }

  .alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724; 
  }

  .alert-danger {
    background-color: #f8d7da; 
    border-color: #f5c6cb; 
    color: #721c24; 
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Tambah User
        </div>
        <div class="card-body">
          {% for message in messages %}
            {% if message.tags == 'success' %}
              <div class="alert alert-success">{{ message }}</div>
            {% else %}
              <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
          {% endfor %}
          <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-primary">Simpan</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
