{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .grid-container {
            background-color: #e8e7e7; /* Warna latar belakang abu untuk keseluruhan footer */
        }

        .footer-logo {
        margin-bottom: 5px;
        }

        .footer-logo img {
        max-width: 200px;
        }

        .footer-menu,
        .footer-newsletter,
        .footer-social {
        margin-bottom: 20px;
        }

        .footer-menu h3,
        .footer-newsletter h3,
        .footer-social h3 {
        margin-bottom: 10px;
        }

        .footer-menu ul,
        .footer-social ul {
        list-style: none;
        padding: 0;
        margin: 0;
        }

        .footer-menu li,
        .footer-social li {
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 10px;
        }

        .footer-menu a,
        .footer-social a {
        color: #333;
        text-decoration: none;
        }

        .footer-menu a:hover,
        .footer-social a:hover {
        color: #000;
        }

        .footer-social i {
        font-size: 20px;
        margin-right: 10px;
        }

        .footer-newsletter form {
        display: flex;
        }

        .footer-newsletter input[type="email"] {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        margin-right: 10px;
        }

        .footer-newsletter button[type="submit"] {
        padding: 10px 15px;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
        }

        .footer-copyright {
        text-align: center;
        color: #aaa;
        }
    </style>
    <!-- Add Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <footer class="grid-container">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <br>
                    <div class="footer-logo">
                        <img src="https://i.ibb.co.com/bLmnPq4/CICDnew.png" alt="Logo">
                    </div>
                    <p style="text-align: justify;">Farhan Company is the agency specializing in Pipeline, Python, and Network Services.
                    </p>
                </div>
                <div class="col-md-3">
                    <br>
                    <div class="footer-menu">
                        <h3>Menu</h3>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li><a href="#">CI/CD</a></li>
                                    <li><a href="#">Networks</a></li>
                                    <li><a href="#">Cloud</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="col-md-3">
                    <br>
                    <div class="footer-newsletter">
                        <h3>Pipeline Services</h3>
                        <p>Subscribe to our newsletter to receive the latest news and updates from Farhan.</p>
                        <form action="#">
                            <input type="email" placeholder="Your email address">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <br>
                    <div class="footer-social">
                        <h3>Follow Us</h3>
                        <ul>
                            <li><a href="https://www.instagram.com/farhanmlyw/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/farhanmulyawijaya/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://www.facebook.com/farhan.mulia?locale=id_ID" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-copyright">
                        <p>&copy; 2024 Farhan. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
