<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <title>Bootstrap Example</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  {% load static %}

  <style>
    .navbar-nav .nav-link:hover {
      background-color: #007bff;
      color: #fff;
    }
  </style>
</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co.com/2t9vjYG/Logo-Polban.webp" alt="Logo Polban" height="50">
        <span class="font-weight-bold">PIPELINE SERVICES</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
          <div class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="{% url 'pipeline' %}">Pipeline</a>
          </div>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'keluar' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>

</html>
